@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Montserrart';
    padding: 0;
    margin: 0;
}

header {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 50px;
    padding-bottom: 150px;
}

#logo {
    width: 110px;
}

#logo a p {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 46px;
}

.login {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    border-radius: 50px;
    background-color: #ebebeb;
}

.login input {
    margin: 20px auto;
    height: 70px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 50%;
    font-family: 'Montserrat';
    font-size: 19px;
    box-sizing: border-box;
    font-weight: 500;
}

#input {
    padding-left: 20px;
}

#login {
    cursor: pointer;
    background-color: #c4c4c4;
    transition: all 500ms;
}

#login:hover {
    color: white;
    background-color: #8a8a8a;
}

.not-reg {
    justify-content: center;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.not-reg a {
    color: #16be5c;
}