@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a, select, option {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
}

body {
    font-family: 'Montserrart', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #16be5c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
}

.container-header {
    padding-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

#logo a p {
    font-weight: 800;
    font-size: 46px;
}

.search input {
    background-color: #cccccc;
    justify-content: center;
    width: 45vw;
    height: 50px; 
    border-radius: 50px;
    outline: none;
    border: none;   
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.menu {
    display: flex;
}

.select:after {
  content: "☰";
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

.select {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

select {
    background-color: #cccccc;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 50px;
}

.link {
    margin-top: 14px;
}

.link a {
    text-decoration: none;
    color: #cccccc;
    background-color: black;
    padding: 13px 30px;
    border-radius: 50px;
    outline: none;
}

.event {
    background-color: #cccccc;
    border-radius: 50px;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-left {
    margin: 40px;
}

.event-right img {
    height: 100%;
    width: 50vw;
    border-radius: 50px;
}


