@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Montserrart';
    padding: 0;
    margin: 0;
}

header {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 50px;
    padding-bottom: 100px;
}

#logo {
    width: 110px;
}

#logo a p {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 46px;
}

.user-info {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    width: 86%;
    height: 75vh;
    margin: auto;
    border-radius: 50px;
    background-color: #ebebeb;
}

.info-left {
    width: 30%;
}

.info-right {
    padding-top: 40px;
    padding-left: 40px;
    width: 70%;
}

#phone {
    padding-bottom: 50px;
}

#logout {
    background-color: #ffafaf;
    padding: 12px 20px;
    border-radius: 12px;
    border: 2px solid #ff5f5f;
    outline: none;
    transition: all 200ms;
}

#logout:hover {
    background-color: #ff5f5f;
    color: #ebebeb;
}

.avatar-container {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
    margin-bottom: 15px;
}

.avatar-container form input[type="file"] {
    margin-bottom: 10px;
}

.avatar-container form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.avatar-container form button:hover {
    background-color: #45a049;
}